@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Patrick+Hand&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana. Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', sans-serif;
    --fonte3: "Sriracha", cursive;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color:lightblue;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 3em;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 15px;
    line-height: 2em;
    font-family: var(--fonte3);
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: black;
    color: white;
}

.imagem > p{
    background-color: rgba(141, 139, 139, 0.445);
    display: inline-block;
    padding: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}